# Environments
myenv/
env/
venv/
.env

# Dependencies
node_modules/
**/node_modules/
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/
pyrightconfig.json

# Datasets
dataset/
SpaceNet_20_Samples/

# Model Weights
*.pth
encode/

# Build Output
dist/
build/
frontend/dist/

# Logs and OS files
*.log
.DS_Store

# Large Images / Data
*.png
*.tif
*.geojson